<div>
    <h3 class ="mb-3 text-center">Edit Shipper</h3>
    <div class ="form-group-row">
        <label class = "control-label col-md-12">Shipper Name</label>
        <input type= "text" [(ngModel)] = "shipperDetails.companyName">

    </div>
    <div class ="form-group-row">
        <label class = "control-label col-md-12">Phone</label>
        <input type= "text" [(ngModel)] = "shipperDetails.phone">

    </div>
    <div class ="form-group row">
        <button class ="btn btn-lg btn-block" (click) = "updateShipper()">Update Shipper</button>
    </div>
</div>
