<div class ="col-md-12">
    <h3 class ="mb-3 text-center">Add Shipper</h3>
    
    <div class ="form-group row">
        <label class="control-label col-md-12">Shipper Name</label>
        <input type="text" [(ngModel)]="shipperDetails.companyName" class="form-control">
    </div>

    <div class ="form-group row">
        <label class="control-label col-md-12">Shipper Phone</label>
        <input type="text" [(ngModel)]="shipperDetails.phone" class="form-control">
    </div>

    <div class ="form-group row">
        <button class ="btn btn-lg btn-block" (click) = "addShipper()">Add Shipper</button>
    </div>

</div>
